*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;


    
}
.Fursona{
    width: 130rem;
    height: 150rem;
    margin-left: 25rem;
}
a{
    color: black;
    text-decoration: none;
}
.header{
    display: flex;
    background-image: linear-gradient(to right,#fff383 50%, #ffd79b, #C7FEF0);

}
.h1{
    display: inline;
    white-space: nowrap;
    color: #ffffff;
    -webkit-text-stroke: 15px #000000;
    font-size: 20rem;
    margin-top: 10%;
    margin-left: 15%;
}
.text1{
    color: #ffffff;
    -webkit-text-stroke: 15px #000000;
    font-size: 20rem;
    margin-top: 16%;
    margin-left: -24%;
}
.h3{
    font-size: 10rem;
    margin-top: 23%;
    margin-left: -15%
}
.h2{
    text-align: center;
    margin-bottom: 20px;
}
.profile{
    width: 80rem;
    height: 100rem;
    margin-top: 4%;
    margin-left: 10%;
    border-radius: 5%;
    border-style: solid;

}
.Abtme{
    text-align: justify;
    font-size: 6rem;
    margin-top: -58dvh;
    margin-bottom: 50%;
    margin-left: 35%;
    margin-right: 10%;
    position: relative;
    padding: 15rem;
    background-color: #ffffff;
    border-radius: 5% 5% 5% 5%;
    height: 90rem;

}
.edu{
    text-align: justify;
    position: relative;
    padding: 15rem;
    background-color: #ffffff;
    border-radius: 5% 5% 5% 5%;
    height: 120rem;
    font-size: 6rem;
    margin-top: -90dvh;
    margin-left: 23dvh;
    margin-right: 20dvh;
}
.educ{
    line-height: 15rem;
}
.exp{
    text-align: justify;
    position: relative;
    padding: 15rem;
    background-color: #ffffff;
    border-radius: 5% 5% 5% 5%;
    height: 86rem;
    font-size: 6rem;
    margin-top: 10dvh;
    margin-left: 23dvh;
    margin-right: 20dvh;
}
.expe{
    font-size: 15rem;
    margin-top: 5dvh;
    margin-bottom: -3dvh;
    margin-left: 5dvh;
}
.exper{
    font-size: 8rem;
    margin-bottom: 3dvh;
    margin-left: -5dvh;
}
.ex{
    font-size: 15rem;
    margin-top: 5dvh;
    margin-bottom: -3dvh;
    margin-left: 5dvh;
}
.expert{
    text-align: justify;
    line-height: 15rem;
    position: relative;
    padding: 15rem;
    background-color: #ffffff;
    border-radius: 5% 5% 5% 5%;
    height: 150rem;
    font-size: 6rem;
    margin-top: 10dvh;
    margin-left: 23dvh;
    margin-right: 20dvh;
}
.portf{
    font-size: 15rem;
    margin-top: 5dvh;
    margin-bottom: -3dvh;
    margin-left: 5dvh;

}
.portfo{
    font-size: 8rem;
    margin-bottom: 3dvh;
    margin-left: 10dvh;
    margin-top: 5dvh;
}
.portfol{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(2100px, 1fr));
    gap: 2.15rem;
    padding: 15rem;
    background-color: #ffffff;
    border-radius: 5% 5% 5% 5%;
    height: 445rem;
    margin-top: 10dvh;
    margin-left: 10dvh;
    margin-right: 10dvh;
    border-style: solid;
}
.pic1{
    width: 65dvh;
    height: 65dvh;
}
.pic2{
    width: 75dvh;
    height: 65dvh;
}
.pic3{
    width: 80dvh;
    height: 65dvh;
}
.pic4{
    width: 85dvh;
    height: 65dvh;
}
.pic5{
    width: 65dvh;
    height: 65dvh;
}
.co{
    font-size: 15rem;
    margin-top: 5dvh;
    margin-bottom: -3dvh;
    margin-left: 5dvh;

}
.con{
    display: flex;
    justify-content: center;
    line-height: 15rem;
    height: 150rem;
    font-size: 6rem;
    margin-top: 10dvh;
}
.cont{
    list-style-type: none;
    text-align: justify;
    padding: 6rem;
    background-color: #ffffff;
    border-radius: 5% 5% 5% 5%;
    height: 58rem;
    margin-top: 10dvh;
    margin-left: 10dvh;
    margin-right: 10dvh;
}
img{
    width: 10rem;
    height: 10rem;
}
nav{
    display: flex;
    justify-content: center;
    font-size: 6rem;
    margin-left: -45dvh;
    margin-top: 75dvh;
    gap: 2.10rem;
}
.btn1{
    display: inline;
    white-space: nowrap;
    text-align: center;
    list-style: none;
    margin-right: 75px;
    margin-left: 30px;
    padding: 4rem;
    background-color: transparent;
    border: 10px, 10px, 10px, 10px;
    cursor: pointer;
   transition: background-color 0.3s ease-in-out;
    width: 45rem;
    height: 15rem;
}
.btn1:hover{
    background-color: #ffffff;
}
.btn{
    display: inline-block;
    text-align: center;
    list-style: none;
    padding: 4rem;
    background-color: transparent;
    border: 10px, 10px, 10px, 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 45rem;
    height: 15rem;
}
.btn:hover{
    background-color: #ffffff;

}
.section{
    display: none;
}
.section:target{
    display: block;
}
.body{
    background-color: #fff2de;
}
