*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #000000;


    
}
.Fursona{
    width: 130rem;
    height: 150rem;
    margin-left: 230rem;
}
a{
    color: black;
    text-decoration: none;
}
.header{
    display: flex;
    background-image: linear-gradient(to right,#fff383 50%, #ffd79b, #C7FEF0);

}
.h1{
    display: inline;
    white-space: nowrap;
    color: #ffffff;
    -webkit-text-stroke: 15px #000000;
    font-size: 20rem;
    margin-top: 10%;
    margin-left: 15%;
}
.text1{
    color: #ffffff;
    -webkit-text-stroke: 15px #000000;
    font-size: 20rem;
    margin-top: 16%;
    margin-left: -24%;
}
.h3{
    font-size: 10rem;
    margin-top: 23%;
    margin-left: -15%
}
.h2{
    text-align: center;
    margin-bottom: 20px;
}
.profile{
    width: 70rem;
    margin-top: 4%;
    margin-left: 5%;
    border-radius: 5%;
    border-style: solid;

}
.content{
    text-align: justify;
    font-size: 6rem;
    margin-top: -55dvh;
    margin-bottom: 50%;
    margin-left: 35%;
    margin-right: 5%;
    position: relative;
    padding: 15rem;
    background-color: #ffffff;
    border-radius: 5% 5% 5% 5%;
    height: 90rem;

}
nav{
    display: flex;
    justify-content: center;
    margin-left: -400px;
    gap: 3.0rem;
}

.btn1{
    display: inline-block;
    text-align: center;
    list-style: none;
    font-size: 25px;
    margin-top: 580px;
    margin-right: 75px;
    margin-left: 30px;
    padding: 10px;
    background-color: transparent;
    border: 10px, 10px, 10px, 10px;
    cursor: pointer;
   transition: background-color 0.3s ease-in-out;
    width: 155px;
    height: 50px;
}
.btn1:hover{
    background-color: #ffffff;
}
.btn{
    display: inline-block;
    text-align: center;
    list-style: none;
    font-size: 25px;
    margin-top: 580px;
    padding: 10px;
    background-color: transparent;
    border: 10px, 10px, 10px, 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 155px;
    height: 50px;
}
.btn:hover{
    background-color: #ffffff;

}
#section1{
    display: block;
}
#section2{
    display: block;
}
.body{
    background-color: #fff2de;
}
